.header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    top: 0;
    width: 100%;
    z-index: 1;
    height: 77px;
}

.logo {
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-position: -177px -264px;
    height: 35px;
    width: 176px;
}

.header-block {
    display: inline-block;
    width: 33%;
}

.login-button {
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 10px;
    padding: 0 10px;
    color: white;
    background: #3897f0;
    border-color: #3897f0;
}

a {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top20 {
    margin-top: 20px;
}

.top25 {
    margin-top: 25px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #003569;
}

.recaptcha {
    width: 350px;
    margin-left: 45px;
    margin-top: 25px;
    border-left: 1px solid rgba(0,0,0,.0975);
    border-top: 2px solid rgba(0,0,0,.0975);
}